[submodule "NegativeSpaceFont"]
	path = NegativeSpaceFont
	url = https://github.com/AmberWat/NegativeSpaceFont
[submodule "fancyPants"]
	path = fancyPants
	url = https://github.com/Ancientkingg/fancyPants
